RewriteEngine On

# Redirect /index.html to /
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /(.*)index\.html\ HTTP/
RewriteRule ^(.*)index\.html$ /$1 [R=301,L]

# Redirect /page.html to /page
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /(.*)\.html\ HTTP/
RewriteRule ^(.*)\.html$ /$1 [R=301,L]

# Serve .html file if the clean URL is requested
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

DirectoryIndex index.html
